<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/commonHead.html') %>
    <link rel="stylesheet" type="text/css" href="../css/pages/index.css">
    <title>Kacper Darowski</title>
</head>
<body>
    <main>
        <!-- Welcome -->
        <div class="primary welcome">
            <div class="imageCointainer portrait"><img class="widthCenteredImage circle" src="../images/portrait.png"></div>
            <div class="welcomeText">
                <h1>Hi, welcome to my portfolio!</h1>
                <p>
                    My name's Kacper Darowski, also known as Opisek.
                    I'm a computer science student at the Technical University of Munich, who's been fascinating with programming ever since the age of nine!
                    My areas of interest are theoretical computer science, algorithmics as well as low-level and embedded development.
                    On top of that, I love writing open-source code, like <a class="link" href="/git/opifolio">this very website</a>!
                </p>
                <div class="row">
                    <a class="button" href="#links">See more</a>
                    <!--<a class="button" href="#resume">Resume</a>
                    <a class="button" href="#projects">Projects</a>-->
                </div>
            </div>
        </div>

        <!-- Contact -->
        <div class="primary contact" id="links">
            <div>
                <a href="github">
                    <div>
                        <img src="../images/github.png" alt="GitHub">
                    </div>
                    <label>
                        <div>
                            <b>GitHub</b>
                            <span>Opisek</span>
                        </div>
                    </label>
                </a>
            </div>
            <div>
                <a href="linkedin">
                    <div>
                        <img src="../images/linkedin.png" alt="LinkedIn">
                    </div>
                    <label>
                        <div>
                            <b>LinkedIn</b>
                            <span>Kacper Darowski</span>
                        </div>
                    </label>
                </a>
            </div>
            <div>
                <a href="youtube">
                    <div>
                        <img src="../images/youtube.png" alt="YouTube">
                    </div>
                    <label>
                        <div>
                            <b>YouTube</b>
                            <span>Opisek</span>
                        </div>
                    </label>
                </a>
            </div>
        </div>

        <!--<div class="secondary resume" id="resume">
            This is where the resume goes.
        </div>
        <div class="primary projects" id="projects">
            This is where the projects go.
        </div>-->
</body>
</html>