main {
    flex-direction: column;
    gap: var(--gapSmall)
}

main > * {
    margin: 0;
}

main > div {
    display: flex;
    flex-direction: row;
    gap: var(--gapSmaller);
    align-items: center;
    justify-content: center;
    max-width: 20em;
}

a {
    flex: 1 0 50%;
}

span {
    margin-bottom: 1em;
}