* { 
    box-sizing: border-box;
    transition: var(--animationSpeed);
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    display: grid;
    margin: 0;
    font-family: 'Public Sans', serif;
    font-size: var(--fontSize);
    background-color: var(--primaryBackground);
    color: var(--primaryForeground);
    text-align: center;
    --innerWindowHeight: 100vh;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*gap: var(--gap);*/
    align-items: center;
    justify-content: center;
}

a {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

h1 {
    font-family: 'Crete Round', serif;
    font-size: var(--fontSizeTitle);
    font-weight: 700;
    margin: 0;
}

.imageCointainer {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

.centeredImage {
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

img.circle {
    border-radius: 50%;
}

p {
    text-align: justify;
    margin: 0;
    padding: 0;
    line-height: calc(var(--fontSize) * 1.4);
}

a.link {
    position: relative !important;
    white-space: nowrap;
}
a.link::after {
    content: "";
    display: block;
    position: absolute;
    /*width: 0%;*/
    transform: scaleX(0%);
    width: 100%;
    left: 0;
    bottom: calc(-1 * var(--borderWidth));
    height: var(--borderWidth);
    transition: transform var(--animationSpeedFast) ease-out;
    background-color: currentColor;
    border-radius: var(--borderRadiusSmall);
}
a.link:hover::after {
    /*width: 100%;*/
    transform: scaleX(100%);
}
a.link::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: var(--borderWidth);
    background-color: currentColor;
    opacity: .1;
    bottom: calc(-1 * var(--borderWidth));
    border-radius: var(--borderRadiusSmall);
    left: 0;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap);
}

/*.button {
    margin: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--currentForeground);
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    padding: var(--paddingSmaller);
    border: var(--borderWidthSmall) solid var(--currentForeground);
    border-radius: var(--borderRadius);
    text-align: center;
}
.button:hover {
    background-color: var(--currentForeground);
    color: var(--currentBackground);
}*/

.button {
    background-color: var(--altBackground);
    color: var(--altForeground);
    padding: var(--paddingSmall);
    border-radius: var(--borderRadius);
    cursor: pointer;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    text-align: center;
}

.button:hover {
    background-color: var(--altForeground);
    color: var(--altBackground);
    transform: scale(110%);
}

@media screen and (max-width: 1000px) {
    .row {
        flex-direction: column;
        gap: var(--gapSmaller)
    }
    h1 {
        font-size: var(--fontSizeTitleSmall);
    }
    p {
        text-align: left;
    }
}