<!DOCTYPE html>
<html lang="en">
<head>
<%- include("partials/commonHead.ejs") %>
    <link rel="stylesheet" type="text/css" href="css/pages/index.css">
    <title>Document</title>
</head>
<body>
    <div class="images">
        <div><a href="https://github.com/Opisek"><img src="images/github.png" alt="GitHub"></a></div>
        <div><a href="https://www.linkedin.com/in/kacper-darowski-1882091a8"><img src="images/linkedin.png" alt="LinkedIn"></a></div>
        <div><a href="https://youtube.com/Opisek"><img src="images/youtube.png" alt="YouTube"></a></div>
    </div>
</body>
</html>