<!DOCTYPE html>
<html lang="en">
<head>
<%- include("partials/commonHead.ejs") %>
    <link rel="stylesheet" type="text/css" href="css/pages/index.css">
    <title>Kacper Darowski</title>
</head>
<body>
    <div class="images">
        <div>
            <a href="https://github.com/Opisek">
                <div>
                    <img src="images/github.png" alt="GitHub">
                </div>
                <label>
                    <div>
                        <b>GitHub</b>
                        <span>Opisek</span>
                    </div>
                </label>
            </a>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/kacper-darowski-1882091a8">
                <div>
                    <img src="images/linkedin.png" alt="LinkedIn">
                </div>
                <label>
                    <div>
                        <b>LinkedIn</b>
                        <span>Kacper Darowski</span>
                    </div>
                </label>
            </a>
        </div>
        <div>
            <a href="https://youtube.com/Opisek">
                <div>
                    <img src="images/youtube.png" alt="YouTube">
                </div>
                <label>
                    <div>
                        <b>YouTube</b>
                        <span>Opisek</span>
                    </div>
                </label>
            </a>
        </div>
    </div>
</body>
</html>